.App {
  // height: 100%;
  // display: flex;
  // background-color: #282c34;
  min-height: 100vh;
  // justify-content: center;
}

.projectHolder {
  background-color: #90b0b6;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10%;
  justify-content: center;
  // margin-bottom: 10%;
}
.customizedCard {
  max-width: 300px;
  overflow: hidden;
  margin-top: auto;
  border: none !important;
}

.bioContainer {
  background-color: #8c84d3;
  // background-color: #1a9ab1;
  // background-color: rgba(206, 139, 40, 0.904);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portraitCol {
  width: 300px;
  border-radius: 50%;
  // width: 150;
  // height: 150;
  // border-radius:  150 / 2;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // overflow: "hidden";
  // borderWidth: 3;
  // borderColor: "red"
}

.textCol {
  text-align: justify;
  text-justify: inter-word;
}

.techContainer {
  background-color: #90b0b6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactView {
  background-color: #90b0b6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.cardModalStyle {
  align-content: center;
  background-color: wheat;
}

.footer {
  margin-bottom: 10%;
}
