.App {
  // display: flex;
  // background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
}

.projectHolder {
  // background-color: #90b6b4;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10%;
  justify-content: center;
  // margin-bottom: 10%;
}
.customizedCard {
  max-width: 300px;
  overflow: hidden;
 margin-top: auto;
 border: none !important;
}

.bioContainer {
  // padding-left: 10%;
  background-color: #90b6b4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portrait {
  max-width: 50vh;
  border-radius: 50%;
  // width: 150;
  // height: 150;
  // border-radius:  150 / 2;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // overflow: "hidden";
  // borderWidth: 3;
  // borderColor: "red"

}

.contactView {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

// .cardModalStyle {
//   align-content: center;
// }

.footer {
  margin-bottom: 10%;
}
