.App {
  // display: flex;
  // background-color: #282c34;
  min-height: 100vh;
}

.projectHolder {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10%;
  // justify-content: center;
  // margin-bottom: 10%;
}
.customizedCard {
  max-width: 300px;
  overflow: hidden;
 margin-top: auto;
 border: none !important;
}

.contactView {
  align-content: center;

}

// .cardModalStyle {
//   align-content: center;
// }

.footer {
  margin-bottom: 10%;
}
